<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>404: Page not found</title>
        <link rel="shortcut icon" href="/assets/logo/favicon.ico" />
        <link rel="stylesheet" href="/assets/css/error.css?101718_2" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="main">
            <h1>Page not found</h1>
            <p>The page you are looking for was not found</p>
            <p>Request URI: <b>{{req_uri}}</b></p>
            <p>You may want to go to: <b><a href="/wiki{{suggest_uri}}">/wiki{{suggest_uri}}</a></b></p>
        </div>
    </body>
</html>
