body{
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: sans-serif;
    background-color: wheat;
}

div#main{
    margin: 8% auto 0;
    max-width: 512px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    padding: 0.85em;
    background-color: #fff;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #0645ad;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-weight: normal;
    font-family: "Linux Libertine", Times, serif;
    margin: 0 0 0.3em;
    font-size: 1.8rem;
    line-height: 1.3em;
    border-bottom: solid 3px #b30000;
}

@media screen and (max-width: 600px){
  div#main{
    margin: 0;
    position: fixed;
    max-width: none;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.75);
  }
}
